{{ "<!-- activity graph -->" | safeHTML }}
<section>
    {{ with .Site.Params.activity.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
    <div class="row">
        {{ range .Site.Params.activity.graph }}
        <article class="{{ .unit }}u 12u$(xsmall) work-item">
            {{ if .title }}
            <h3>
                {{ if .link }}
                    <a href="{{ .link }}">{{ .title | markdownify }}</a>
                {{ else }}
                    {{ .title | markdownify }}
                {{ end }}
            </h3>
            {{ end }}
            <img src="{{ .url }}" alt="graph" style="width:100%">
        </article>
        {{ end }}
    </div>
</section>
